# Data science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular Langauges that Data Scientists use
* Commonly used libraries
* Data Science Tools
* Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy 
2. Pandas 
3. Scikit-learn 
4. Caret 
5. dplyr

| Data Science Tools |
| --- |
| Jupyter Notebook |
| R Studio |
| GitHub |
| VS Code |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author 
Manan Aron